.about{
    max-width: 1300px;
    margin: 150px auto;
}

.about > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about > div > section{
    width: 50%;
    height: auto;
}

.about > div > section > h2{
    font-family: "Fredoka";
    font-size: 3em;
    font-weight: 600;
    color: #ffff;
}

.about > div > section > h3{
    font-family: "Fredoka";
    font-size: 1.7em;
    font-weight: 500;
    color: #ffff;
    margin-bottom: 15px;
}

.about > div > section > p{
    font-family: Montserrat;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 27px;
    color: #000000c9;
}

.about > div > section:nth-of-type(1) > img{
    width: 300px;
    height: auto;
    margin-top: 25px;
}

.about > div > section:nth-of-type(2) > img{
    width: 75%;
    height: auto;
    float: right;
}

@media only screen and (max-width: 1375px) {
    .about > div{
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1075px) {
    .about > div{
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .about > div > section{
        width: 100%;
    }

    .about > div > section:nth-of-type(2) > img{
        width: 50%;
        float: none;
        display: block;
        margin: 0 auto 25px auto;
    }
}

@media only screen and (max-width: 600px) {
    .about{
        margin: 75px auto;
    }
    
    .about > div{
        padding: 0 15px;
    }

    .about > div > section:nth-of-type(2) > img{
        width: 80%;
    }

    .about > div > section > h3{
        font-size: 1.3em;
    }

    .about > div > section > p{
        font-size: 1em;
    }
}

@media only screen and (max-width: 450px) {
    .about > div > section:nth-of-type(1) > img{
        width: 75%;
        display: block;
        margin: 35px auto 0 auto;
    }
}