@import url('https://fonts.googleapis.com/css?family=Fredoka:100,200,300,400,500,600,700,800,900,1000&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,1000&display=swap');

* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #ff98cf;
  background: linear-gradient(to top, #ff99cf 0%, #eb4ba0 100%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  margin-top: 350px;
}

@media only screen and (max-width: 500px) {
  main{
    margin-top: 250px;
  }
}

.displaynone{
  display: none !important;
}

@media only screen and (max-width: 500px) {
  .displaynonehamburger{
    display: none !important;
  }
}

.openhamburger {
  animation: openhamburger .5s forwards
}

.closehamburger {
  animation: closehamburger .5s forwards
}

.fadeinheader{
  animation: fadeinheader 0.5s ease forwards;
}

.fadeoutheader{
  animation: fadeoutheader 1s ease forwards;
}

.stickyheader{
  animation: none !important;
}

@keyframes fadeinheader {
  0% {
      top: -500px;
      opacity: 0
  }

  to {
      top: 0;
      opacity: 1
  }
}


@keyframes fadeoutheader {
  0% {
      top: 0px;
      opacity: 1
  }

  to {
      top: -500px;
  }
}




@keyframes openhamburger {
  0% {
      left: -2000px
  }

  to {
      left: 0px
  }
}

@keyframes closehamburger {
  0% {
      left: 0px
  }

  to {
      left: -2000px
  }
}

@keyframes ldio-3kxj25bh4eh {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-3kxj25bh4eh div {
  left: 109.395px;
  top: 43.095px;
  position: absolute;
  animation: ldio-3kxj25bh4eh linear 0.4545454545454546s infinite;
  background: #eb4ba0;
  width: 2.21px;
  height: 24.31px;
  border-radius: 0px / 0px;
  transform-origin: 1.105px 67.405px;
}.ldio-3kxj25bh4eh div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.41322314049586784s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.37190082644628103s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.3305785123966943s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.2892561983471075s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.2479338842975207s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.20661157024793392s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.16528925619834714s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.12396694214876035s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.08264462809917357s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.041322314049586785s;
  background: #eb4ba0;
}.ldio-3kxj25bh4eh div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #eb4ba0;
}
.loadingio-spinner-spinner-nnvlnihgqe8 {
  width: 221px;
  height: 221px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-3kxj25bh4eh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-3kxj25bh4eh div { box-sizing: content-box; }

.notselected{
  border: 2px solid red !important;
}