.products{
    max-width: 1300px;
    margin: 0 auto;
}

.products > div{
    text-align: center;
}

.products > div > h2{
    font-family: "Fredoka";
    font-size: 3em;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 25px;
}

.products > div > div{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 23% 23% 23% 23%;
}

.products > div > div section{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    padding: 20px 0 80px 0;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products > div > div section img{
    width: 175px;
    height: auto;
}

.products > div > div section:hover img{
    transform: scale(1.05);
    transition: 0.3s ease;
}

.products > div > div section h3{
    font-size: 1.3em;
    font-family: "Fredoka";
    font-weight: 500;
    color: #444444;
    position: absolute;
    bottom: 40px;
}


@media only screen and (max-width: 1375px) {
    .products > div{
        padding: 0 50px;
    }
}


@media only screen and (max-width: 1125px) {
    .products > div > div section h3{
        font-size: 1.1em;
        padding: 0 15px;
        height: 50px;
        bottom: 10px;
    }
}

@media only screen and (max-width: 1075px) {
    .products > div > div section img{
        width: 150px;
    }
}

@media only screen and (max-width: 850px) {
    .products > div > div section img{
        width: 125px;
    }
    
    .products > div > div section{
        padding: 20px 0 55px 0;
    }
    
    .products > div > div section h3{
        font-size: 1em;
        padding: 0 5px;
        height: 40px;
        bottom: 10px;
    }
}

@media only screen and (max-width: 700px) {
    .products > div > div{
        grid-template-columns: 31% 31% 31%;
    }

    .products > div > div section{
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .products > div > div section img{
        width: 100px;
    }

    .products > div > div section h3{
        font-size: 0.9em;
    }
}


@media only screen and (max-width: 600px) {
    .products > div{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 440px) {
    .products > div > div{
        grid-template-columns: 48% 48%;
    }

    .products > div > div section img{
        width: 130px;
    }

    .products > div > div section h3{
        font-size: 1em;
        bottom: 8px;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 350px) {
    .products > div > div section img{
        width: 100px;
    }

    .products > div > div section h3{
        font-size: 0.9em;
    }
}